doctype html
html(lang=ja)
  link(rel="stylesheet", href="./../../css/app.css")
  body#body
    .wrapper
      include ../component/header
      block body
      include ../component/footer  
    script(src='./../../js/app.js')
